*{
    margin: 0;
    padding:0;
}
body{
    overflow: scroll;
    background-color: #EDEEDE;
    padding-top: 84px;
}
/*---header---*/
.header{
    width:100%;
    height: 84px;
    position: fixed;
    top:0;
    z-index: 1000;
    background-color: rgb(36,41,44);
    background:rgb(28,33,35) \9; /*IE8 背景变红色*/
}
/*---logo---*/
.logo{
    padding:16px 0 0 487px;
    float: left;
}
/*---nav---*/
.nav ul{
    position: absolute;
    left: 751px;
    top: 38px;
}
.nav ul  li {
    margin-right: 26px;
    display: inline-block;
}
.nav ul li a{
    text-decoration: none;
    color:#999;
}
.nav ul li a:hover,
.nav ul li a.first{
    color:whitesmoke;
}
/*---nav中的图标处理---*/
.nav ul li a i.icon-sort-down{
    position: relative;
    top: -3px;
}
.nav ul li a i.icon-sort-up{
    position: relative;
    top: 36px;
    left:20px;
}

/*----dropdownMenu---*/
.dropdowm-memu{
    width: 228px;
    height: 344px;
    background-color: #191919;
    position: absolute;
    top: 70px;
    left: 1016px;
    display: none;
    z-index: 6;
}
.up{
    position:absolute;
    top: -13px;
    left: 95px;
    color: #191919;
}
.dropdowm-memu ul li{
    height: 42px;
    line-height: 42px;
    display: block;
    border-bottom: 1px solid #313131;
    box-shadow: 0 0 1px #313131;
    padding-left: 20px;
}
.dropdowm-memu ul a li:hover{
    background-color: #313131;
}
.dropdowm-memu ul  a{
    text-decoration: none;
    color:#ccc;
    font-size: 13px;
}
.dropdowm-memu ul a li i{
    color:#ccc;
    padding:0 5px;
}

/*---search---*/
.search{
    position: absolute;
    left: 1168px;
    top: 35px;
    font-size: 15px;
}
.search i{
    position: relative;
    left: 26px;
    top: 1px;
    color: #999;
}
.search input{
    width: 200px;
    height:18px;
    padding:6px 0 6px 28px;
    border-radius: 20px;
    border:0;
    outline: 0;
    color:whitesmoke;
    background-color: black;
}

/*---search-list---*/
.search-list{
    width: 226px;
    height: 620px;
    background-color: #191919;
    position: absolute;
    top: 75px;
    left: 1190px;
    display: none;
}
.up2{
    position:absolute;
    top: -13px;
    left: 95px;
    color: #191919;
}
.search-list ul li{
    height: 61px;
    line-height: 61px;
    display: block;
    border-bottom: 1px solid #313131;
    box-shadow: 0 0 1px #313131;
    padding-left: 20px;
}
.search-list ul  li:hover{
    background-color: #313131;
}
.search-list ul li a{
    text-decoration: none;
    color:#ccc;
    font-size: 13px;
}
.search-list ul  li i{
    color:#ccc;
    padding:0 5px;
}

/*轮播图图片*/
.items>li>a>img{
    width:1900px;
    height:350px;
}
/*---wrapper---*/
.wrapper{
    width:927px;
    height: 1000px;
    margin: 30px auto;
    padding: 5px;
    /*background-color: #EDEEDE;*/
}
/*---sub-menu---*/
.sub-menu{
    width: 671px;
    height: 110px;
    line-height:108px;
    background-color: white;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    z-index: 10;
}
#preview img{
    float: left;
    margin-right: 20px;
    width: 112px;
    height: 110px;
}

.sub-menu ul li{
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    color: #636363;
}
.sub-menu ul li a{
    text-decoration: none;
    color:rgb(99,105,109);
    font-size: 15px;
    position: relative;
    left: -40px;
    top: 25px;
    z-index: 3;
}
.sub-menu ul li:first-child:hover{
    color:rgb(70,70,70);
}
.sub-menu ul li:nth-child(2):hover{
    color: rgb(75,124,124);
}
.sub-menu ul li:nth-child(3):hover{
    color: rgb(155 ,121,175);
}
.sub-menu ul li:nth-child(4):hover{
    color: rgb(95,131,168);
}
.sub-menu ul li:nth-child(5):hover{
    color: rgb(141,173,93);
}

/*----addPic---*/
.addPic{
    width: 200px;
    height:100px;
    background-color:black;
}
/*---main---*/
.main{
    width: 671px;
    height:auto;
    float: left;
}
.head-image img{
    transform: scale(0.9,0.9);
}
.content{
    width: 490px;
    float: right;
    background-color: white;
    padding: 30px;
    margin-top: -108px;
}
.default,
.open{
    font-size: 15px;
    text-indent: 2em;
    line-height: 20px;
}
.default{
    height: 400px;
    overflow: hidden;
}
#div1 h3{
    color: #0f0f0f;
}
.open{
    height:auto;
}
.footer{
    width: 490px;
    background-color: white;
}
.left-footer a{
    color: rgb(136,136,136);
    text-decoration: none;
}
.left-footer a p{
    margin-top: 20px;
}

.right-footer{
    float: right;
    margin-top: -20px;
}
.right-footer a{
    margin-left: 10px;
    color: rgb(194,194,194);
    text-decoration: none;
}


/*---sidebar---*/
.sidebar{
    width:230px;
    height:1000px;
    float: right;
    margin-top: -138px;

    /*通过margin-top负值巧妙上移*/
}
.person-center ul{
    border: 1px solid #ccc;
    background-color: rgb(243,243,243);
}
.person-center ul li{
    height: 35px;
    line-height: 35px;
    list-style: none;
    padding: 0 25px;
    border-bottom: 1px solid #ccc;
}

.person-center ul li a {
    color: #222222;
    text-decoration: none;
}
.person-center ul li span{
    float: right;
    font-size:14px ;
}
.person-center ul li:first-child{
    border-bottom: 4px solid #ccc;
}
.person-center ul li:last-child{
    border-top: 2px solid #ccc;
    background-color:rgb(231,231,231) ;
}
.person-center ul li:hover {
    background-color:white;
}

.advertise{
    margin-top: 20px;
    width: 220px;
    height: 180px;
}
.advertise img {
    /*图片按比例缩放**/
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    margin-top: 15px;
    padding:5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    border-radius:5px: 
}
/*mask**/
.mask{
    width: 1920px;
    height: 1000px;
    background-color:rgba(0,0,0,0.8);
    z-index: 1000;
    position: fixed;
    top: 0%;
    display: none;

}
.imgpanel{
    width: 800px;
    height: 600px;
    position: fixed;
    left: 50%;
    margin-left:-400px;
    top: 50%;
    margin-top:-150px;
    z-index: 1001;
}

.imgpanel img{
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;

}



